<H1>Bienvenue sur MOOCacademy !</H1>

<div class="center jumbotron">
    <h2>Cours Ruby on Rails</h2>

  <p>
  Dans ce cours vous allez apprendre Ruby.
  </p>

  <%= link_to "Commencer le cours!", ruby_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2>Cours PHP</h2>

  <p>
  Dans ce cours vous allez apprendre PHP.
  </p>

  <%= link_to "Commencer le cours!", php_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2>Cours JAVASCRIPT</h2>

  <p>
Dans ce cours vous allez apprendre JAVASCRIPT.
  </p>

  <%= link_to "Commencer le cours!", javascript_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2>Cours HTML/CSS</h2>

  <p>
   Dans ce cours vous allez apprendre HTML et CSS.
  </p>

  <%= link_to "Commencer le cours!", html_css_path, class: "btn btn-lg btn-primary" %>
</div>